.page {
    position: relative;
    width: 100%;
    height: 100%;
}

// .block_1 {
//     height: 100%;
//     background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/psmphf21rnj1lcjtt9xa0s8iuctklw61or85dgq8kmt4zhbyb956fb267e-7bed-425c-b400-b9ab1c947521) 100% no-repeat;
//     background-size: 100% 100%;
//     width: 100%;
// }

// .section_1 {
//     width: 100%;
//     height: 100%;
//     background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/pskazess7l23xrg7nhhtqvuxy4aemiu300o31gdld0wwmif46eb8c4-2a6c-4bce-9558-38d8f415ff60) 100% no-repeat;
//     background-size: 100% 100%;
// }

// .section_2 {
//     width: 100%;
//     height: 54px;
//     background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/psgsz3ydhev53tyb9ew8hidujucgzaorbtk403iqcg3z0k9adbef9da-45d0-4046-ada2-49da79f6e75f) -3px -7px no-repeat;
//     background-size: 100% 69px;
//     display: flex;
// }

// .label_1 {
//     width: 38px;
//     height: 27px;
//     margin: 14px 0 0 15px;
// }

// .text_1 {
//     width: 70px;
//     height: 15px;
//     overflow-wrap: break-word;
//     color: rgba(255, 255, 255, 1);
//     font-size: 18px;
//     font-family: zihun143hao-zhengkuchaojihei-Bold;
//     font-weight: 700;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 24px;
//     margin: 20px 0 0 3px;
// }

// .box_1 {
//     width: 44px;
//     height: 24px;
//     // margin: 20px 0 0 99px;
// }

// .text_2 {
//     width: 57px;
//     height: 15px;
//     overflow-wrap: break-word;
//     color: rgba(147, 188, 244, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 20px 0 0 60px;
// }

// .box_2 {
//     background-color: rgba(255, 255, 255, 1);
//     width: 44px;
//     height: 2px;
//     margin-top: 8px;
// }

// .text_3 {
//     width: 57px;
//     height: 15px;
//     overflow-wrap: break-word;
//     color: rgba(147, 188, 244, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 20px 0 0 60px;
// }

// .text_4 {
//     width: 57px;
//     height: 14px;
//     overflow-wrap: break-word;
//     color: rgba(147, 188, 244, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 20px 0 0 53px;
// }

// .text_5 {
//     width: 57px;
//     height: 14px;
//     overflow-wrap: break-word;
//     color: rgba(147, 188, 244, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 20px 0 0 53px;
// }

// .text_6 {
//     width: 57px;
//     height: 15px;
//     overflow-wrap: break-word;
//     color: rgba(147, 188, 244, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 20px 0 0 53px;
// }

// .box_3 {
//     width: 150px;
//     height: 32px;
//     background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/psqhqaffgr1f2vgqfrfpgl7v5xt64rt3xrvlhsicdredqme7b97b6dd3a7-611c-4329-bb4b-d3b6f7d317ae) 100% no-repeat;
//     background-size: 100% 100%;
//     margin: 12px 0 0 242px;
// }

// .text_7 {
//     width: 28px;
//     height: 14px;
//     overflow-wrap: break-word;
//     color: rgba(255, 255, 255, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 10px 0 0 20px;
// }

// .thumbnail_1 {
//     width: 16px;
//     height: 17px;
//     margin: 7px 15px 0 71px;
// }

// .box_4 {
//     background-color: rgba(255, 255, 255, 1);
//     border-radius: 50%;
//     width: 32px;
//     height: 32px;
//     border: 2px solid rgba(147, 188, 244, 1);
//     margin: 11px 0 0 41px;
// }

// .paragraph_1 {
//     width: 65px;
//     height: 28px;
//     overflow-wrap: break-word;
//     color: rgba(147, 188, 244, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: left;
//     line-height: 16px;
//     margin: 14px 0 0 12px;
// }

// .thumbnail_2 {
//     width: 15px;
//     height: 16px;
//     margin: 18px 0 0 40px;
// }

// .text_8 {
//     width: 23px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(147, 188, 244, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 16px;
//     margin: 21px 14px 0 10px;
// }

// .section_3 {
//     position: relative;
//     width: 100%;
//     height: 715px;
//     margin-bottom: 1px;
// }

// .group_1 {
//     width: 1328px;
//     height: 673px;
//     margin: 20px 0 0 13px;
// }

// .image_1 {
//     width: 55px;
//     height: 253px;
//     margin-top: 182px;
// }

// .section_4 {
//     width: 780px;
//     height: 672px;
//     margin: 1px 0 0 12px;
// }

// .text-wrapper_1 {
//     box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.05);
//     background-color: rgba(245, 249, 255, 1);
//     border-radius: 10px;
//     height: 80px;
//     width: 780px;
// }

// .text_9 {
//     width: 197px;
//     height: 17px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 16px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 19px 0 0 20px;
// }

// .box_5 {
//     width: 82px;
//     height: 16px;
//     margin-top: 46px;
// }

// .thumbnail_3 {
//     width: 4px;
//     height: 15px;
//     margin-top: 1px;
// }

// .text_10 {
//     width: 64px;
//     height: 16px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 16px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 14px;
// }

// .box_6 {
//     box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.05);
//     background-color: rgba(255, 255, 255, 1);
//     border-radius: 10px;
//     width: 780px;
//     height: 120px;
//     margin-top: 15px;
// }

// .image-text_1 {
//     width: 49px;
//     height: 70px;
//     margin: 31px 0 0 39px;
// }

// .image-wrapper_1 {
//     height: 48px;
//     background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/psmwiugadr14efusorgwqk356u93yds4im33wr21gkz9f6r6e325e8f-a74d-4704-99be-eff9705ce5e4) 0px -1px no-repeat;
//     background-size: 49px 49px;
//     width: 48px;
// }

// .label_2 {
//     width: 26px;
//     height: 22px;
//     margin: 13px 0 0 11px;
// }

// .text-group_1 {
//     width: 47px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 10px 0 0 2px;
// }

// .image-text_2 {
//     width: 48px;
//     height: 71px;
//     margin: 30px 0 0 31px;
// }

// .box_7 {
//     height: 48px;
//     background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/psaozwz1yp8y28d7vij1gp4b75npfd2t976d0rpracn4p9zfrc5c0e914-6fd7-41e5-9103-95ed2f6f838d) -1px 0px no-repeat;
//     background-size: 49px 49px;
//     width: 48px;
// }

// .box_8 {
//     background-color: rgba(241, 246, 255, 1);
//     border-radius: 4px;
//     height: 29px;
//     width: 28px;
//     position: relative;
//     margin: 10px 0 0 10px;
// }

// .thumbnail_4 {
//     width: 10px;
//     height: 11px;
//     margin: 5px 0 0 9px;
// }

// .thumbnail_5 {
//     position: absolute;
//     left: 6px;
//     top: 14px;
//     width: 15px;
//     height: 8px;
// }

// .group_2 {
//     height: 9px;
//     background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/psvqeul28axdr0ms4i9g31c8zswwubx1or8dcueh7nkkervn2972894c05-079b-41fd-9b93-a4a8102e5baf) 0px -1px no-repeat;
//     background-size: 11px 10px;
//     width: 11px;
//     position: absolute;
//     left: 19px;
//     top: 20px;
// }

// .section_5 {
//     background-color: rgba(29, 105, 252, 1);
//     border-radius: 50%;
//     width: 3px;
//     height: 3px;
//     margin: 3px 0 0 4px;
// }

// .text-group_2 {
//     width: 47px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 11px 0 0 1px;
// }

// .image-text_3 {
//     width: 48px;
//     height: 70px;
//     margin: 31px 0 0 32px;
// }

// .image-wrapper_2 {
//     width: 48px;
//     height: 48px;
//     background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/psky7dv80h79y0hpvinguu8dgqcy33ow29vlpvu57ml262mx6rf9876598-d317-4613-af83-128aca3ff6dc) -1px -1px no-repeat;
//     background-size: 49px 49px;
// }

// .image_2 {
//     width: 14px;
//     height: 24px;
//     margin: 12px 0 0 9px;
// }

// .image_3 {
//     width: 14px;
//     height: 24px;
//     margin: 12px 10px 0 1px;
// }

// .text-group_3 {
//     width: 47px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 10px 0 0 1px;
// }

// .image-text_4 {
//     width: 48px;
//     height: 70px;
//     margin: 31px 0 0 32px;
// }

// .box_9 {
//     width: 48px;
//     height: 48px;
//     background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/psu92rjqxrlj9vn292c75vwisml1munmiu7a0q8cthprxusor1f66a9d6-01e0-4a9f-994f-f13f4581a504) -1px -1px no-repeat;
//     background-size: 50px 49px;
// }

// .thumbnail_6 {
//     width: 16px;
//     height: 6px;
//     margin: 8px 0 0 19px;
// }

// .box_10 {
//     height: 22px;
//     background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/pstvy2cpdrkh6qd7vi0kx7xps8mfmkj4i6jaxsej4k9ox0f6r8f2f8d43-b9d5-433e-9414-00ac080ed761) -1px 0px no-repeat;
//     background-size: 30px 22px;
//     width: 29px;
//     margin: 0 0 12px 10px;
// }

// .box_11 {
//     background-color: rgba(255, 242, 244, 1);
//     border-radius: 50%;
//     width: 4px;
//     height: 4px;
//     margin: 9px 0 0 19px;
// }

// .text-group_4 {
//     width: 47px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 10px 0 0 1px;
// }

// .image-text_5 {
//     width: 48px;
//     height: 70px;
//     margin: 31px 373px 0 32px;
// }

// .image-wrapper_3 {
//     height: 48px;
//     background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/psm18fwbw3ajxajorpvlifgwdxp2xzuxrd5gv6nvsxzzx5hfr37f40c9d-2ab9-4163-b03c-e9514c78c2bb) -1px -1px no-repeat;
//     background-size: 50px 49px;
//     width: 48px;
// }

// .thumbnail_7 {
//     width: 20px;
//     height: 20px;
//     margin: 14px 0 0 14px;
// }

// .text-group_5 {
//     width: 34px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 10px 0 0 8px;
// }

// .box_12 {
//     width: 780px;
//     height: 20px;
//     margin-top: 18px;
// }

// .thumbnail_8 {
//     width: 4px;
//     height: 15px;
//     margin-top: 2px;
// }

// .text_11 {
//     width: 64px;
//     height: 17px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 16px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 14px;
//     margin: 1px 0 0 14px;
// }

// .text-wrapper_2 {
//     background-color: rgba(31, 106, 183, 1);
//     border-radius: 2px 2px 1px 1px;
//     height: 20px;
//     margin-left: 628px;
//     width: 35px;
// }

// .text_12 {
//     width: 23px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(255, 255, 255, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 4px 0 0 6px;
// }

// .text-wrapper_3 {
//     background-color: rgba(255, 255, 255, 1);
//     border-radius: 2px 2px 1px 1px;
//     height: 20px;
//     width: 35px;
// }

// .text_13 {
//     width: 23px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(31, 106, 183, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 4px 0 0 7px;
// }

// .box_13 {
//     box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.05);
//     background-color: rgba(255, 255, 255, 1);
//     border-radius: 10px;
//     width: 780px;
//     height: 345px;
//     margin-top: 12px;
// }

// .text-wrapper_4 {
//     background-color: rgba(240, 242, 245, 1);
//     border-radius: 5px;
//     width: 740px;
//     height: 40px;
//     margin: 24px 0 0 20px;
// }

// .text_14 {
//     width: 28px;
//     height: 14px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 14px;
//     margin: 13px 0 0 32px;
// }

// .text_15 {
//     width: 28px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(102, 102, 102, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 14px;
//     margin: 14px 0 0 68px;
// }

// .text_16 {
//     width: 28px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(102, 102, 102, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 14px;
//     margin: 14px 0 0 65px;
// }

// .text_17 {
//     width: 28px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(102, 102, 102, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 14px;
//     margin: 14px 0 0 65px;
// }

// .text_18 {
//     width: 28px;
//     height: 13px;
//     overflow-wrap: break-word;
//     color: rgba(102, 102, 102, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 14px;
//     margin: 14px 0 0 65px;
// }

// .text_19 {
//     width: 28px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(102, 102, 102, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 14px;
//     margin: 14px 0 0 64px;
// }

// .text_20 {
//     width: 28px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(102, 102, 102, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 14px;
//     margin: 14px 0 0 65px;
// }

// .text_21 {
//     width: 26px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(102, 102, 102, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 14px;
//     margin: 14px 28px 0 66px;
// }

// .group_3 {
//     width: 183px;
//     height: 40px;
//     margin: 10px 0 0 20px;
// }

// .text-wrapper_5 {
//     background-color: rgba(240, 242, 245, 1);
//     border-radius: 5px;
//     height: 40px;
//     width: 90px;
// }

// .paragraph_2 {
//     width: 52px;
//     height: 24px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     line-height: 14px;
//     margin: 8px 0 0 19px;
// }

// .block_2 {
//     width: 83px;
//     height: 40px;
// }

// .block_3 {
//     background-color: rgba(36, 116, 246, 1);
//     width: 83px;
//     height: 4px;
// }

// .text-wrapper_6 {
//     background-color: rgba(234, 243, 255, 1);
//     height: 36px;
//     width: 83px;
// }

// .paragraph_3 {
//     width: 53px;
//     height: 26px;
//     overflow-wrap: break-word;
//     color: rgba(36, 116, 246, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     line-height: 14px;
//     margin: 5px 0 0 15px;
// }

// .group_4 {
//     width: 554px;
//     height: 40px;
//     margin: 10px 0 0 20px;
// }

// .text-wrapper_7 {
//     background-color: rgba(240, 242, 245, 1);
//     border-radius: 5px;
//     height: 40px;
//     width: 90px;
// }

// .paragraph_4 {
//     width: 53px;
//     height: 24px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     line-height: 14px;
//     margin: 8px 0 0 19px;
// }

// .box_14 {
//     width: 83px;
//     height: 40px;
//     margin-left: 103px;
// }

// .section_6 {
//     background-color: rgba(36, 116, 246, 1);
//     width: 83px;
//     height: 4px;
// }

// .text-wrapper_8 {
//     background-color: rgba(234, 243, 255, 1);
//     height: 36px;
//     width: 83px;
// }

// .paragraph_5 {
//     width: 53px;
//     height: 26px;
//     overflow-wrap: break-word;
//     color: rgba(36, 116, 246, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     line-height: 14px;
//     margin: 5px 0 0 15px;
// }

// .box_15 {
//     width: 83px;
//     height: 40px;
//     margin-left: 103px;
// }

// .box_16 {
//     background-color: rgba(36, 116, 246, 1);
//     width: 83px;
//     height: 4px;
// }

// .text-wrapper_9 {
//     background-color: rgba(234, 243, 255, 1);
//     height: 36px;
//     width: 83px;
// }

// .paragraph_6 {
//     width: 53px;
//     height: 26px;
//     overflow-wrap: break-word;
//     color: rgba(36, 116, 246, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     line-height: 14px;
//     margin: 5px 0 0 15px;
// }

// .box_17 {
//     width: 83px;
//     height: 40px;
//     margin-left: 9px;
// }

// .block_4 {
//     background-color: rgba(36, 116, 246, 1);
//     width: 83px;
//     height: 4px;
// }

// .text-wrapper_10 {
//     background-color: rgba(234, 243, 255, 1);
//     height: 36px;
//     width: 83px;
// }

// .paragraph_7 {
//     width: 53px;
//     height: 26px;
//     overflow-wrap: break-word;
//     color: rgba(36, 116, 246, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     line-height: 14px;
//     margin: 5px 0 0 15px;
// }

// .group_5 {
//     width: 740px;
//     height: 40px;
//     margin: 10px 0 0 20px;
// }

// .text-wrapper_11 {
//     background-color: rgba(240, 242, 245, 1);
//     border-radius: 5px;
//     height: 40px;
//     width: 90px;
// }

// .paragraph_8 {
//     width: 53px;
//     height: 24px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     line-height: 14px;
//     margin: 8px 0 0 19px;
// }

// .group_6 {
//     width: 83px;
//     height: 40px;
//     margin-left: 196px;
// }

// .box_18 {
//     background-color: rgba(36, 116, 246, 1);
//     width: 83px;
//     height: 4px;
// }

// .text-wrapper_12 {
//     background-color: rgba(234, 243, 255, 1);
//     height: 36px;
//     width: 83px;
// }

// .paragraph_9 {
//     width: 53px;
//     height: 26px;
//     overflow-wrap: break-word;
//     color: rgba(36, 116, 246, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     line-height: 14px;
//     margin: 5px 0 0 15px;
// }

// .group_7 {
//     width: 83px;
//     height: 40px;
//     margin-left: 102px;
// }

// .box_19 {
//     background-color: rgba(36, 116, 246, 1);
//     width: 83px;
//     height: 4px;
// }

// .text-wrapper_13 {
//     background-color: rgba(234, 243, 255, 1);
//     height: 36px;
//     width: 83px;
// }

// .paragraph_10 {
//     width: 53px;
//     height: 26px;
//     overflow-wrap: break-word;
//     color: rgba(36, 116, 246, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     line-height: 14px;
//     margin: 5px 0 0 15px;
// }

// .group_8 {
//     width: 83px;
//     height: 40px;
//     margin-left: 103px;
// }

// .box_20 {
//     background-color: rgba(255, 173, 67, 1);
//     width: 83px;
//     height: 4px;
// }

// .text-wrapper_14 {
//     background-color: rgba(255, 247, 237, 1);
//     height: 36px;
//     width: 83px;
// }

// .paragraph_11 {
//     width: 53px;
//     height: 26px;
//     overflow-wrap: break-word;
//     color: rgba(255, 173, 67, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     line-height: 14px;
//     margin: 5px 0 0 15px;
// }

// .group_9 {
//     width: 647px;
//     height: 40px;
//     margin: 10px 0 0 20px;
// }

// .text-wrapper_15 {
//     background-color: rgba(240, 242, 245, 1);
//     border-radius: 5px;
//     height: 40px;
//     width: 90px;
// }

// .paragraph_12 {
//     width: 59px;
//     height: 24px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     line-height: 14px;
//     margin: 8px 0 0 16px;
// }

// .group_10 {
//     width: 83px;
//     height: 40px;
//     margin-left: 10px;
// }

// .box_21 {
//     background-color: rgba(17, 202, 162, 1);
//     width: 83px;
//     height: 4px;
// }

// .text-wrapper_16 {
//     background-color: rgba(241, 255, 252, 1);
//     height: 36px;
//     width: 83px;
// }

// .paragraph_13 {
//     width: 53px;
//     height: 26px;
//     overflow-wrap: break-word;
//     color: rgba(36, 210, 172, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     line-height: 14px;
//     margin: 5px 0 0 15px;
// }

// .group_11 {
//     width: 83px;
//     height: 40px;
//     margin-left: 103px;
// }

// .group_12 {
//     background-color: rgba(17, 202, 162, 1);
//     width: 83px;
//     height: 4px;
// }

// .text-wrapper_17 {
//     background-color: rgba(241, 255, 252, 1);
//     height: 36px;
//     width: 83px;
// }

// .paragraph_14 {
//     width: 53px;
//     height: 26px;
//     overflow-wrap: break-word;
//     color: rgba(36, 210, 172, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     line-height: 14px;
//     margin: 5px 0 0 15px;
// }

// .group_13 {
//     width: 83px;
//     height: 40px;
//     margin-left: 195px;
// }

// .group_14 {
//     background-color: rgba(255, 173, 67, 1);
//     width: 83px;
//     height: 4px;
// }

// .text-wrapper_18 {
//     background-color: rgba(255, 247, 237, 1);
//     height: 36px;
//     width: 83px;
// }

// .paragraph_15 {
//     width: 53px;
//     height: 26px;
//     overflow-wrap: break-word;
//     color: rgba(255, 173, 67, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     line-height: 14px;
//     margin: 5px 0 0 15px;
// }

// .group_15 {
//     width: 554px;
//     height: 40px;
//     margin: 10px 0 31px 20px;
// }

// .text-wrapper_19 {
//     background-color: rgba(240, 242, 245, 1);
//     border-radius: 5px;
//     height: 40px;
//     width: 90px;
// }

// .paragraph_16 {
//     width: 64px;
//     height: 24px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     line-height: 14px;
//     margin: 8px 0 0 13px;
// }

// .block_5 {
//     width: 83px;
//     height: 40px;
//     margin-left: 10px;
// }

// .section_7 {
//     background-color: rgba(17, 202, 162, 1);
//     width: 83px;
//     height: 4px;
// }

// .text-wrapper_20 {
//     background-color: rgba(241, 255, 252, 1);
//     height: 36px;
//     width: 83px;
// }

// .paragraph_17 {
//     width: 53px;
//     height: 26px;
//     overflow-wrap: break-word;
//     color: rgba(36, 210, 172, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     line-height: 14px;
//     margin: 5px 0 0 15px;
// }

// .block_6 {
//     width: 83px;
//     height: 40px;
//     margin-left: 196px;
// }

// .group_16 {
//     background-color: rgba(255, 173, 67, 1);
//     width: 83px;
//     height: 4px;
// }

// .text-wrapper_21 {
//     background-color: rgba(255, 247, 237, 1);
//     height: 36px;
//     width: 83px;
// }

// .paragraph_18 {
//     width: 53px;
//     height: 26px;
//     overflow-wrap: break-word;
//     color: rgba(255, 173, 67, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     line-height: 14px;
//     margin: 5px 0 0 15px;
// }

// .block_7 {
//     width: 83px;
//     height: 40px;
//     margin-left: 9px;
// }

// .box_22 {
//     background-color: rgba(17, 202, 162, 1);
//     width: 83px;
//     height: 4px;
// }

// .text-wrapper_22 {
//     background-color: rgba(241, 255, 252, 1);
//     height: 36px;
//     width: 83px;
// }

// .paragraph_19 {
//     width: 53px;
//     height: 26px;
//     overflow-wrap: break-word;
//     color: rgba(36, 210, 172, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     line-height: 14px;
//     margin: 5px 0 0 15px;
// }

// .section_8 {
//     width: 461px;
//     height: 673px;
//     margin-left: 20px;
// }

// .box_23 {
//     width: 82px;
//     height: 17px;
// }

// .thumbnail_9 {
//     width: 4px;
//     height: 15px;
//     margin-top: 1px;
// }

// .text_22 {
//     width: 64px;
//     height: 17px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 16px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 14px;
// }

// .box_24 {
//     box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.05);
//     background-color: rgba(255, 255, 255, 1);
//     border-radius: 10px;
//     height: 224px;
//     margin-top: 14px;
//     width: 460px;
// }

// .box_25 {
//     width: 420px;
//     height: 20px;
//     margin: 24px 0 0 20px;
// }

// .thumbnail_10 {
//     width: 20px;
//     height: 20px;
// }

// .text_23 {
//     width: 67px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 4px 0 0 157px;
// }

// .thumbnail_11 {
//     width: 20px;
//     height: 20px;
//     margin-left: 156px;
// }

// .text-wrapper_23 {
//     width: 382px;
//     height: 13px;
//     margin: 19px 0 0 40px;
// }

// .text_24 {
//     width: 14px;
//     height: 1px;
//     overflow-wrap: break-word;
//     color: rgba(153, 153, 153, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin-top: 6px;
// }

// .text_25 {
//     width: 14px;
//     height: 10px;
//     overflow-wrap: break-word;
//     color: rgba(153, 153, 153, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 1px 0 0 47px;
// }

// .text_26 {
//     width: 14px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(153, 153, 153, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin-left: 48px;
// }

// .text_27 {
//     width: 13px;
//     height: 13px;
//     overflow-wrap: break-word;
//     color: rgba(153, 153, 153, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin-left: 48px;
// }

// .text_28 {
//     width: 14px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(153, 153, 153, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin-left: 48px;
// }

// .text_29 {
//     width: 14px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(153, 153, 153, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin-left: 47px;
// }

// .text_30 {
//     width: 10px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(153, 153, 153, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin-left: 51px;
// }

// .box_26 {
//     width: 384px;
//     height: 32px;
//     margin: 10px 0 0 41px;
// }

// .box_27 {
//     width: 15px;
//     height: 22px;
//     margin-top: 10px;
// }

// .text_31 {
//     width: 15px;
//     height: 11px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
// }

// .box_28 {
//     background-color: rgba(36, 116, 246, 1);
//     border-radius: 50%;
//     width: 5px;
//     height: 5px;
//     margin: 6px 0 0 4px;
// }

// .box_29 {
//     width: 15px;
//     height: 22px;
//     margin: 10px 0 0 46px;
// }

// .text_32 {
//     width: 15px;
//     height: 11px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
// }

// .group_17 {
//     background-color: rgba(36, 116, 246, 1);
//     border-radius: 50%;
//     width: 5px;
//     height: 5px;
//     margin: 6px 0 0 5px;
// }

// .box_30 {
//     width: 15px;
//     height: 22px;
//     margin: 10px 0 0 47px;
// }

// .text_33 {
//     width: 15px;
//     height: 11px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
// }

// .section_9 {
//     background-color: rgba(255, 147, 51, 1);
//     border-radius: 50%;
//     width: 5px;
//     height: 5px;
//     margin: 6px 0 0 4px;
// }

// .text-wrapper_24 {
//     height: 32px;
//     background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/psuzm0drbu4whtzkt9xnigkefvjx2052907rcbh8cfkr19k9a8f38aac-edef-4c48-9f04-54d9b5be2b0e) -1px -1px no-repeat;
//     background-size: 33px 33px;
//     margin-left: 37px;
//     width: 32px;
// }

// .text_34 {
//     width: 15px;
//     height: 11px;
//     overflow-wrap: break-word;
//     color: rgba(255, 255, 255, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 10px 0 0 9px;
// }

// .text_35 {
//     width: 15px;
//     height: 11px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 10px 0 0 39px;
// }

// .text_36 {
//     width: 15px;
//     height: 11px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 10px 0 0 46px;
// }

// .text_37 {
//     width: 15px;
//     height: 11px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 10px 0 0 47px;
// }

// .image-wrapper_4 {
//     width: 380px;
//     height: 7px;
//     margin: 17px 0 0 40px;
// }

// .image_4 {
//     width: 380px;
//     height: 7px;
// }

// .box_31 {
//     width: 341px;
//     height: 16px;
//     margin: 24px 0 0 40px;
// }

// .group_18 {
//     background-color: rgba(36, 116, 246, 1);
//     border-radius: 50%;
//     width: 5px;
//     height: 5px;
//     margin-top: 5px;
// }

// .text_38 {
//     width: 69px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 3px 0 0 13px;
// }

// .group_19 {
//     background-color: rgba(36, 116, 246, 1);
//     border-radius: 50%;
//     width: 5px;
//     height: 5px;
//     margin: 5px 0 0 162px;
// }

// .text_39 {
//     width: 28px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 3px 0 0 13px;
// }

// .text-wrapper_25 {
//     border-radius: 1px 1px 2px 2px;
//     height: 16px;
//     border: 1px solid rgba(31, 106, 183, 1);
//     margin-left: 10px;
//     width: 36px;
// }

// .text_40 {
//     width: 23px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(31, 106, 183, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 2px 0 0 7px;
// }

// .box_32 {
//     width: 362px;
//     height: 12px;
//     margin: 9px 0 21px 58px;
// }

// .image-text_6 {
//     width: 113px;
//     height: 12px;
// }

// .thumbnail_12 {
//     width: 11px;
//     height: 12px;
// }

// .text-group_6 {
//     width: 95px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(153, 153, 153, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 22px;
// }

// .image-text_7 {
//     width: 113px;
//     height: 12px;
// }

// .thumbnail_13 {
//     width: 11px;
//     height: 12px;
// }

// .text-group_7 {
//     width: 95px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(153, 153, 153, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 22px;
// }

// .box_33 {
//     width: 461px;
//     height: 17px;
//     margin-top: 19px;
// }

// .thumbnail_14 {
//     width: 4px;
//     height: 15px;
//     margin-top: 1px;
// }

// .text_41 {
//     width: 64px;
//     height: 17px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 16px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 14px;
//     margin-left: 14px;
// }

// .text_42 {
//     width: 47px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(153, 153, 153, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: right;
//     white-space: nowrap;
//     line-height: 14px;
//     margin: 3px 0 0 332px;
// }

// .box_34 {
//     box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.05);
//     background-color: rgba(255, 255, 255, 1);
//     border-radius: 10px;
//     width: 460px;
//     height: 368px;
//     margin-top: 14px;
// }

// .section_10 {
//     width: 420px;
//     height: 32px;
//     margin: 20px 0 0 20px;
// }

// .image-text_8 {
//     width: 95px;
//     height: 32px;
// }

// .box_35 {
//     background-color: rgba(36, 116, 246, 1);
//     border-radius: 50%;
//     width: 32px;
//     height: 32px;
// }

// .text-group_8 {
//     width: 53px;
//     height: 26px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: left;
//     line-height: 14px;
//     margin-top: 4px;
// }

// .text-wrapper_26 {
//     border-radius: 1px 1px 2px 2px;
//     height: 16px;
//     border: 1px solid rgba(255, 147, 51, 1);
//     width: 45px;
//     margin: 1px 0 0 63px;
// }

// .text_43 {
//     width: 35px;
//     height: 12px;
//     overflow-wrap: break-word;
//     color: rgba(255, 147, 51, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: center;
//     white-space: nowrap;
//     line-height: 22px;
//     margin: 2px 0 0 5px;
// }

// .image-text_9 {
//     width: 130px;
//     height: 12px;
//     margin: 11px 0 0 87px;
// }

// .text-group_9 {
//     width: 113px;
//     height: 8px;
//     overflow-wrap: break-word;
//     color: rgba(153, 153, 153, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: right;
//     white-space: nowrap;
//     line-height: 14px;
//     margin-top: 2px;
// }

// .thumbnail_15 {
//     width: 7px;
//     height: 12px;
// }

// .text_44 {
//     width: 370px;
//     height: 15px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 14px;
//     margin: 11px 0 0 61px;
// }

// .section_11 {
//     background-color: rgba(221, 221, 221, 1);
//     width: 420px;
//     height: 1px;
//     margin: 18px 0 0 20px;
// }

// .section_12 {
//     position: relative;
//     width: 420px;
//     height: 58px;
//     margin: 19px 0 0 20px;
// }

// .image-text_10 {
//     width: 130px;
//     height: 12px;
//     margin: 11px 0 0 290px;
// }

// .text-group_10 {
//     width: 113px;
//     height: 8px;
//     overflow-wrap: break-word;
//     color: rgba(153, 153, 153, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: right;
//     white-space: nowrap;
//     line-height: 14px;
//     margin-top: 2px;
// }

// .thumbnail_16 {
//     width: 7px;
//     height: 12px;
// }

// .image-text_11 {
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 348px;
//     height: 58px;
// }

// .block_8 {
//     background-color: rgba(36, 116, 246, 1);
//     border-radius: 50%;
//     width: 32px;
//     height: 32px;
// }

// .text-group_11 {
//     width: 307px;
//     height: 54px;
//     margin-top: 4px;
// }

// .paragraph_20 {
//     width: 53px;
//     height: 26px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: left;
//     line-height: 14px;
//     margin-left: 1px;
// }

// .text_45 {
//     width: 307px;
//     height: 15px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 14px;
//     margin-top: 13px;
// }

// .section_13 {
//     background-color: rgba(221, 221, 221, 1);
//     width: 420px;
//     height: 1px;
//     margin: 18px 0 0 20px;
// }

// .section_14 {
//     position: relative;
//     width: 420px;
//     height: 58px;
//     margin: 19px 0 0 20px;
// }

// .image-text_12 {
//     width: 130px;
//     height: 12px;
//     margin: 11px 0 0 290px;
// }

// .text-group_12 {
//     width: 113px;
//     height: 8px;
//     overflow-wrap: break-word;
//     color: rgba(153, 153, 153, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: right;
//     white-space: nowrap;
//     line-height: 14px;
//     margin-top: 2px;
// }

// .thumbnail_17 {
//     width: 7px;
//     height: 12px;
// }

// .image-text_13 {
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 298px;
//     height: 58px;
// }

// .group_20 {
//     background-color: rgba(36, 116, 246, 1);
//     border-radius: 50%;
//     width: 32px;
//     height: 32px;
// }

// .text-group_13 {
//     width: 257px;
//     height: 54px;
//     margin-top: 4px;
// }

// .paragraph_21 {
//     width: 47px;
//     height: 26px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: left;
//     line-height: 14px;
//     margin-left: 1px;
// }

// .text_46 {
//     width: 257px;
//     height: 15px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 14px;
//     margin-top: 13px;
// }

// .section_15 {
//     background-color: rgba(221, 221, 221, 1);
//     width: 420px;
//     height: 1px;
//     margin: 18px 0 0 20px;
// }

// .section_16 {
//     width: 420px;
//     height: 58px;
//     margin: 19px 0 2px 21px;
// }

// .image-text_14 {
//     width: 284px;
//     height: 58px;
// }

// .box_36 {
//     background-color: rgba(36, 116, 246, 1);
//     border-radius: 50%;
//     width: 32px;
//     height: 32px;
// }

// .text-group_14 {
//     width: 243px;
//     height: 54px;
//     margin-top: 4px;
// }

// .paragraph_22 {
//     width: 53px;
//     height: 26px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: left;
//     line-height: 14px;
//     margin-left: 1px;
// }

// .text_47 {
//     width: 243px;
//     height: 15px;
//     overflow-wrap: break-word;
//     color: rgba(16, 16, 16, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     white-space: nowrap;
//     line-height: 14px;
//     margin-top: 13px;
// }

// .image-text_15 {
//     width: 129px;
//     height: 12px;
//     margin-top: 11px;
// }

// .text-group_15 {
//     width: 112px;
//     height: 8px;
//     overflow-wrap: break-word;
//     color: rgba(153, 153, 153, 1);
//     font-size: 12px;
//     font-family: SimSun;
//     font-weight: NaN;
//     text-align: right;
//     white-space: nowrap;
//     line-height: 14px;
//     margin-top: 2px;
// }

// .thumbnail_18 {
//     width: 7px;
//     height: 12px;
// }

// .group_21 {
//     box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.05);
//     background-color: rgba(31, 106, 183, 1);
//     border-radius: 5px;
//     position: absolute;
//     left: 100px;
//     top: 72px;
//     width: 156px;
//     height: 56px;
// }

// .label_3 {
//     width: 24px;
//     height: 21px;
//     margin: 17px 0 0 20px;
// }

// .text-wrapper_27 {
//     width: 70px;
//     height: 32px;
//     overflow-wrap: break-word;
//     font-size: 0;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     line-height: 18px;
//     margin: 13px 22px 0 20px;
// }

// .paragraph_23 {
//     width: 70px;
//     height: 32px;
//     overflow-wrap: break-word;
//     color: rgba(255, 255, 255, 1);
//     font-size: 12px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     line-height: 18px;
// }

// .text_48 {
//     width: 70px;
//     height: 32px;
//     overflow-wrap: break-word;
//     color: rgba(255, 255, 255, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     line-height: 18px;
// }

// .group_22 {
//     box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.05);
//     background-color: rgba(26, 103, 247, 1);
//     border-radius: 5px;
//     position: absolute;
//     left: 266px;
//     top: 72px;
//     width: 156px;
//     height: 56px;
// }

// .label_4 {
//     width: 24px;
//     height: 21px;
//     margin: 19px 0 0 20px;
// }

// .text-wrapper_28 {
//     width: 49px;
//     height: 32px;
//     overflow-wrap: break-word;
//     font-size: 0;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     line-height: 18px;
//     margin: 13px 43px 0 20px;
// }

// .paragraph_24 {
//     width: 49px;
//     height: 32px;
//     overflow-wrap: break-word;
//     color: rgba(255, 255, 255, 1);
//     font-size: 12px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     line-height: 18px;
// }

// .text_49 {
//     width: 49px;
//     height: 32px;
//     overflow-wrap: break-word;
//     color: rgba(255, 255, 255, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     line-height: 18px;
// }

// .group_23 {
//     box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.05);
//     background-color: rgba(17, 202, 162, 1);
//     border-radius: 5px;
//     position: absolute;
//     left: 432px;
//     top: 72px;
//     width: 156px;
//     height: 56px;
// }

// .label_5 {
//     width: 24px;
//     height: 24px;
//     margin: 16px 0 0 20px;
// }

// .text-wrapper_29 {
//     width: 61px;
//     height: 29px;
//     overflow-wrap: break-word;
//     font-size: 0;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     line-height: 18px;
//     margin: 14px 31px 0 20px;
// }

// .paragraph_25 {
//     width: 61px;
//     height: 29px;
//     overflow-wrap: break-word;
//     color: rgba(255, 255, 255, 1);
//     font-size: 12px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     line-height: 18px;
// }

// .text_50 {
//     width: 61px;
//     height: 29px;
//     overflow-wrap: break-word;
//     color: rgba(255, 255, 255, 1);
//     font-size: 14px;
//     font-family: MicrosoftYaHei;
//     font-weight: NaN;
//     text-align: left;
//     line-height: 18px;
// }

// .ant-layout-header {
//     height: 64px;
//     padding: 0 50px;
//     line-height: 64px;
//     background: none;
// }